.
.formularioContacto{
  width: 450px;
  background-color: rgb(149, 59, 7);
  padding: 40px;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 130px;
  margin-top: 0px;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  box-shadow: 7px 13px 37px #361808;
 }
   
   .formularioContacto h1{
    font-size: 22px;
    margin-bottom: 30px;
   }

   .controls{
    width: $tamano-cien;
    background-color:$color-blanco ;
    padding: $tamano-diez;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid#392e2e; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
   }

   .formularioContacto p{
    height: $tamano-cuarenta;
    text-align: $text-align;
    font-size: 16px;
    line-height: $tamano-cuarenta;
   }

   .formularioContacto a{
    color: $color-blanco;
    text-decoration: none;
   }

   .formularioContacto a :hover{
    color: $color-blanco;
     text-decoration: underline;
   }

   .formularioContacto .boton{
    width: $tamano-cien;
    background: $color-marron;
    border: none;
    padding: 12px;
    color: $color-blanco;
    margin: 16px 0;
    font-size: 18px;
  }
  
  .tituloDeContacto{
    padding-left: $tamano-cincuenta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top:$tamano-cincuenta ;

   }

   .colorConNosotros{
    display: $display-flex;
    padding-left: $tamano-cuarenta;
    color: rgb(149, 59, 7);;
    
   } 
  
 