.galeria{
    height: 80vh;
    object-fit: $object-fit;
  }
  
  .carousel-item{
    height: 70vh;
  
  }
  .carousel-item img{
    height: $tamano-cien;
    object-fit: $object-fit;
  }

   .fondo{
    background:linear-gradient(to right); 
    background-size: $object-fit;
    background-attachment: fixed;
    background-position: $text-align;
    background-repeat: no-repeat;
  }

   .borroso{
    backdrop-filter: blur(5px);;
    height: $tamano-cien;
  }
