
.pagError{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
  }

  .error{
    width: 100%;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    text-align: center;
    
  }
  .error h1{
   font-size: 150px;
   margin: 0;
   font-weight: 900;
   letter-spacing: 10px;
   background: url(../assets/img/madera.jpg) center no-repeat; 
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;

  }

  .error a{
    text-decoration: none;
    background: #291301;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
  }

  .error a:hover{
    background-color: #a05f2b;
  }

  .imgError{
    margin-bottom: 20px;
  }
  