$justify-around: space-around;
$justify-between: space-between;
$justify-center: center;
$text-align: center;
$object-fit: cover;
$display-flex: flex;

$color-amarillo: #f4e2d3;
$color-marron: #291301;
$color-gris: #464646;
$color-blanco: #fff;
$color-azul: #4b65d1;

$tamano-cien: 100%;
$tamano-cincuenta: 50px;
$tamano-cuarentaycinco: 45px;
$tamano-cuarenta: 40px;